.mine {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: 50%;
  }

  .mine1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: auto;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  
  .mine-shadow {
    -webkit-box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4) !important;
            box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4) !important;
  }
  
  .mine-shadow:hover {
    -webkit-box-shadow: 0 60px 120px -10px rgba(10, 16, 34, .2) !important;
            box-shadow: 0 60px 120px -10px rgba(10, 16, 34, .2) !important;
  }
  
  .items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  
  
  .add-text {
    margin-top: 15px;
  }
  